@import "/home/gabriel/dots/configs/waybar/latte.css";
* {
  border-radius: 0;
  font-family: Material Design Icons, JetBrains Mono, Iosevka;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @text;
}

tooltip {
	background: @base;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: @base;
}

#workspaces {
  background: @base;
  border-radius: 15px;
}

#workspaces button {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
  color: @text;
}

#workspaces button.active {
    color: @blue;
}

#workspaces button.urgent {
  color: @base;
  background: @red;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @base;
  border-color: @base;
  border-radius: 10px;
	color: @blue;
}

#battery, #pulseaudio, #clock, #cpu, #memory, #disk, #backlight, #workspaces, #custom-launcher, #custom-lock, #custom-power-menu {
  margin-top: 5px;
  margin-bottom: 5px;
	/* padding: 2px 10px; */
  background: @base;
}

#network {
  color: @sky;
  background: @base;
}

#clock {
  color: @mauve;
  border-radius: 15px;
}

#pulseaudio {
  color: @rosewater;
}

#battery {
  color: @green;
  border-radius:0px 15px 15px 0px;
}

#cpu {
  color: @red;
}

#memory {
  color: @green;
  border-radius: 15px 0px 0px 15px;
}

#disk {
  color: @mauve;
}

#backlight {
  color: @yellow;
}
#custom-lock {
  border-radius: 15px 0px 0px 15px;
  color: @maroon;
}
#custom-launcher {
  color: @sky;
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 5px;
}
#custom-power-menu {
  color: @peach;
  border-radius: 0px 15px 15px 0px;
}
#tray {
  background: @base;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
}
