* {
	background-image: none;
}
window {
	background-color: rgba(30, 30, 46, 0.3);
}
button {
  color: #F5E0DC;
	background-color: #1E1E2E;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #313244;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/gabriel/dots/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/gabriel/dots/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/gabriel/dots/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/gabriel/dots/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/gabriel/dots/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/gabriel/dots/wlogout/icons/reboot.png"));
}
